.header{
    background-color: #40e0d0;
    text-align: center;
    padding:8px;
   
   
}
.link{
    color:#ffffff;
    margin-right: 20px;
    text-decoration:none;

}
.link:hover{
    color:#FF1493;
     
}
.active-link{
    color:#FF1493;
    text-decoration: none;
    margin-right: 20px;
    border-bottom: 2px solid #F74258 ;
}
.active-link:hover{
   color: #FF1493;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    
}
.navbar-part-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;
    color:#ffffff;
}
.navbar-part-1 img{
   margin-right: 5px;
}
.navbar-part-2{
    margin-right: 40px;
}
.log-out-btn{
    background-color: #FF7F50;
    border:none;
    border-radius: 3px;
    color:#ffffff;
    padding:5px;
}
.log-out-btn:hover{
    background-color: #FF1493;
}

/*-------------------------------*\
Responsive Design
\*-------------------------------*/
/*-------------------------------*\
for small device
\*-------------------------------*/
@media only screen and (max-width:576px){
    .navbar-part-1{
        display: none;
    }
    .navbar-part-2{
        width:100%;
        margin-left: 50px;
    }
}
