.header{
    background-color: #40E0D0;
    text-align: center;
    padding:8px;
   
   
}
.header nav a{
    color:#ffffff;
    margin-right: 20px;
    text-decoration:none;
}
.header nav a:hover{
    color:#000000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    
}
.navbar-part-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:15px;
    color:#ffffff;
}
.navbar-part-1 img{
   margin-right: 5px;
}
.navbar-part-2{
    margin-right: 40px;
}

/*-------------------------------*\
Responsive Design
\*-------------------------------*/
/*-------------------------------*\
for small device
\*-------------------------------*/
@media only screen and (max-width:576px){
    .navbar-part-1{
        display: none;
    }
    .navbar-part-2{
        width:100%;
        margin-left: 50px;
    }
}
